@model  VitaminsCom.MVC.Models.EmailModel
<link href="@Url.Content("~/Content/Heart.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/vitamins2.css")" rel="stylesheet" type="text/css">  

<script src="@Url.Content("http://code.jquery.com/jquery-1.9.1.js")" type="text/javascript"></script>   
  <script type="text/javascript" src="@Url.Content("~/js/EmailSignUp.js")"></script>          
     <script language="javascript" type="text/javascript">
     	$(document).ready(function () {
     		$("#contactus").click(function (event) {
     			return emailsignup();
     		});
     	});
      
    </script>
  
 <div id="pagecontainer">
	<div id="pagewrapper">
<div class="subpage">
<h2>Concerned about your</h2>
  <h1 class="title">Heart Health?</h1>

<h3>Cardiovascular Disease is the #1 Cause of Death in the United States.<sup>1</sup></h3>

 <p>Millions of people like you are too, and we can help. Get FREE Heart
 Health information today and learn more about ways you can improve 
your health. PLUS, get 15% off heart health supplements now!</p>

</div>
        <div class="thankyouwindow" style="display: none" id="thankyou">
            <br />
            <p class="lgwhitetext">
                Thank You!</p>
            <br />
            <br />
            <p class="medwhitetext">
                You're on your way to good health!<br />
                <br />
                Check your inbox for your free guide and special coupon.
            </p>
        </div>
<div class="offerwindow" id="offerwindow">
<p class="lgwhitetext">
It’s so easy!</p>

<p class="medwhitetext">
Just enter your email and submit!
</p>

 <form id="contactus" method="post" action="javascript:submit();">
<p class="medwhitetext">
E-mail: 
 @*@Html.TextBoxFor(model => model.Email, new { @class = "emailfield",  @id = "emailcontactus", @value = "" })*@
<input class="emailfield" type="email" value="" name="Email" id="emailcontactus" data-val-required="Email required" data-val="true">  </p>
<input type="hidden" name="Acqsource" id="Acqsource" value="vitamins" />
<input type="hidden" name="Acqsubsource" id ="Acqsubsource" value="heart" />
<input type="hidden" name="Divsion" id ="Division" value="VitaminsHeartGuide" />
<input type="hidden" name="language" id ="Language" value="eng" />
<a ><input src="@Url.Content("~/images/SEND_button.jpg")" type="image"></a>

  <p>
  <a href="@Url.Action("Privacy")">Privacy Policy</a></p>
</form>
</div> 

     </div>
</div>

<!--ThankYou message -->
<!--

<div class="thankyouwindow">
<br /><p class="lgwhitetext">
Thank You!</p>
<br /><br />
<p  class="medwhitetext">
You're on your way to good health!<br /><br />

Check your inbox for your free guide 
and special coupon.
</p>

</div> 

-->
